.landing {
    /* background: url('../../images/background.JPEG') center fixed; */
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    margin-top: -99px;
    z-index: 0;
}

/* .landing-container {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url('../../images/background.JPEG') no-repeat center fixed;
    display: inline-block;
    margin: 50px 50px 50px 50px;
    position: relative;
    margin-bottom: 400px;
} */